html {
  box-sizing: border-box;
  font: 12pt Roboto, 'Open Sans', Arial;
  color: white;
}

*, *::before, *::after {
  box-sizing: inherit;
  color: inherit;
  font: inherit;
}

h1 {
  margin: 0;
  font-family: 'Fjalla One';
}

main {
  position: relative;
  min-height: 500px;
}

.panel > div {
	width: 75%;
	margin: auto;
  overflow: hidden;
}