form {
	background-color: #7f7f7f;
	margin: auto;
	width: 450px;
	text-align: center;
	padding: 20px;
	overflow: hidden;
	color: #fff;

	button {
		float: right;
	}
}

.formRow {
	margin: 20px;
}

.label {
	display: block;
	float: left;
	text-align: right;
	width: 100px;
	line-height: 25px;
}

.input {
	margin-left: 110px;

	
}

input {
	display: block;
	color: #000;
}


