.primary-header {
  position: relative;
}

.logo img {
  width: 400px;
  height: 120px;
}

.primary-nav {
  position: absolute;
  top: 50px;
  right: 110px;

  a {
    display: inline-block;
    padding: 15px;
    margin: 0 4px;
  }
}