.primary-header {
  position: relative;
  min-height: 150px;
}

.logo, .primary-nav {
  position: absolute;
}

.logo {
  top: 0;
  left: 0;

  img {
    width: 400px;
    height: 120px;
  }
}

.primary-nav {
  top: 50px;
  right: 110px;

  a {
    display: inline-block;
  }
}