figure.user {
  float: left;
	width: 30%;

	margin: 25px 15px;
	
	img {
		// margin-left: -20px;
		display: block;
		border: 3px solid #fff;
		width: 100%;
		background-image: url('../src/images/driverBackground.png');
		background-size: cover;
	}

	figcaption {
		background-color: #212121;
		color: #fff;
		padding: 10px 20px;
		overflow: hidden;
		border: 2px solid #ccc;

		h3:nth-child(1) {
			padding: 0 0 10px;
			border-bottom: 1px solid #fff;
		}
	}
	
	.links {
		text-align: right;
		float: right;
		
		a {
			text-decoration: none;
			
			&:nth-child(1):hover	{
				color: orange;
				text-decoration: underline;
			}

			&:nth-child(2):hover	{
				color: red;
				text-decoration: underline;
			}
		}
	}
}




