<form action="#" class="login">
  <h1>Log In</h1>
  <div class="formRow">
    <div class="label">
      <label for="name">Driver: </label>
    </div>
    <div class="input">
      <input type="text" name="name" id="id">
    </div>
  </div>

  <button>Submit</button>
</form>