<form action="#" class="user">
	<h1>Users</h1>
	<div class="formRow">
		<div class="label">
	    <label for="name">Driver:</label>
		</div>
		<div class="input">
	    <input type="text" name="name" id="id" value="{{name}}">
		</div>
	</div>

  <div class="formRow">
  	<div class="label">
    	<label for="hobby">Hobby:</label> 
  	</div>
  	<div class="input">
    	<input type="text" name="hobby" id="hobby" value="{{hobby}}">
  	</div>
  </div>
  <a class="btn" href="/#/">Submit</a>
</form>
